<% byebug %>

<div class='card__content card--secondary'>
  <h2 class="heading3"><%= 'Données à caractère personel' %></h2>
  <h2 class="heading3"><%= 'Seul vous et la plateforme pourront consulter ces informations' %></h2>
  <%= render partial: "decidim/decidim_awesome/custom_fields/form_render", locals: { name: name, spec: spec, form: form } %>
</div>
