<div class="card__footer">
  <div class="card__support">
    <% if show_progress? %>
      <%= cell(
        "decidim/progress_bar",
        progress_bar_progress,
        total: progress_bar_total,
        units_name: "#{i18n_scope}.progress_units",
        element_id: "proposal-#{model.id}-votes-count",
        subtitle_text: progress_bar_subtitle_text,
        small: true
      ) %>
    <% end %>
    <div class="card__support__data"></div>
    <%= link_to resource_path, class: "card__button button--sc light button small" do %>
      <%= t("#{i18n_scope}.call_to_action") %>
      <span class="show-for-sr"><%= title %></span>
    <% end %>
  </div>
</div>