<%
  from_list = local_assigns.fetch(:from_proposals_list, false)
  cell_name = from_list ? "decidim/decidim_awesome/voting/voting_cards_proposal_list" : "decidim/decidim_awesome/voting/voting_cards_proposal_show"
%>
<% if from_list %>
  <%= cell(cell_name, proposal) %>
<% else %>
  <div class="voting-voting_cards">
    <%= cell(cell_name, proposal) %>
  </div>
<% end %>
