<div class="voting-voting_cards">
  <%= cell("decidim/decidim_awesome/voting/voting_cards_proposal", proposal, from_proposals_list: true) %>
  <% if current_component.settings.voting_cards_show_modal_help %>
    <%# <%= cell("decidim/decidim_awesome/voting/voting_cards_proposal_modal", proposal) %>  
  <% end %>
</div>
