<div class="reveal decidim_awesome modal loading" id="constraintsModal" data-reveal>
  <div class="modal-content">
modal content
  </div>

  <div class="spinner"></div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
