@import "stylesheets/decidim/decidim_awesome/shared/spinner";
@import "stylesheets/decidim/decidim_awesome/admin/intergram_fixes";
@import "stylesheets/decidim/decidim_awesome/forms/custom_fields";
@import "stylesheets/decidim/decidim_awesome/admin/verifications";

.component__show {
  &_private_data {
    &-grid {
      background-color: $body-background;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin: 1rem 0;
      padding: .5rem;

      .date_info {
        font-style: italic;
        color: $medium-gray;
        font-size: .875rem;
        margin-top: 1rem;

        a {
          font-style: normal;
          color: $secondary-color;
        }
      }
    }
  }
}
