@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/utils/settings";
@import "stylesheets/decidim/utils/mixins";
@import "stylesheets/decidim/decidim_awesome/admin/constraints";
@import "stylesheets/decidim/decidim_awesome/admin/codemirror";
@import "stylesheets/decidim/decidim_awesome/admin/user_picker";
@import "stylesheets/decidim/decidim_awesome/admin/custom_fields";
@import "stylesheets/decidim/decidim_awesome/admin/auto_edits";
@import "stylesheets/decidim/decidim_awesome/editors/quill_editor";
@import "stylesheets/decidim/decidim_awesome/editors/markdown_editor";

.platoniq-credits{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .8em;
}

.decidim_awesome{
  &.modal{
    .spinner{
      @include spinner(25px, #aaa, var(--secondary), 800ms);

      vertical-align: middle;
      display: none;
    }

    &.loading{
      .spinner{
        display: inline-block;
      }
    }
  }

  &-form{
    margin-bottom: 2em;
    border-bottom: 1px solid #999;
    padding-bottom: 1.5em;
    .help-text {
      white-space: pre-wrap;
    }
  }

  &-form:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }
}

tbody tr.menu_hack-addition{
  background: rgb(255, 248, 222);
}

.secondary-nav {
  li .icon {
    margin-right: 0.5rem;
  }
}
