@import "stylesheets/decidim/decidim_awesome/admin/constraints";
@import "stylesheets/decidim/decidim_awesome/admin/custom_styles";
@import "stylesheets/decidim/decidim_awesome/admin/custom_fields";
@import "stylesheets/decidim/decidim_awesome/admin/auto_edits";
@import "stylesheets/decidim/decidim_awesome/admin/check_redirections";
@import "stylesheets/decidim/decidim_awesome/admin/user_picker";
@import "stylesheets/decidim/decidim_awesome/admin/codemirror";
@import "stylesheets/decidim/decidim_awesome/shared/spinner";

// Remove the 20% right column from the item__edit class
// .item__edit {
//   @apply grid grid-cols-1 md:grid-cols-[100%_0%] mb-8;
// }

.pokecode-credits {
  float: right;
  margin: 0 1em 0.5em 0;
  font-size: 0.8em;
}

.decidim_awesome {
  &-form {
    margin-bottom: 2em;
    border-bottom: 1px solid #999;
    padding-bottom: 1.5em;

    .help-text {
      white-space: pre-line;
    }
  }

  &-form:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
