<div class="help-text">
  <%= t(".script_consent_help_html", category:, example: "<script type=\"text/plain\" data-consent=\"#{category}\">\n\tconsole.log(\"#{category} data consent given\")\n</script>") %>
</div>
