<div id="proposal-<%= model.id %>-vote-button" class="card__proposals-votes-container">
  <%= cell("decidim/decidim_awesome/voting/voting_cards_proposal", model, from_proposals_list: true, **options) %>
</div>
