// = require decidim/map

// Increase z-index for components menu otherwise map hides menu extensions
.dropdown-pane {
  z-index: 1000;
}
// Override padding in this component
.wrapper {
  padding: 0;
}

#map {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
