// = require decidim/map

// Override padding in this component
.wrapper {
  padding: 0;
}

#map {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
