@import "select2";
@import "select2-foundation-theme";

.multiusers-select-container{
  form label{
    margin-bottom: 1rem;
  }

  .switch-paddle{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
}

.select2-container--foundation .select2-selection--multiple .select2-selection__choice{
  display: inline-block;
  float: none;
  font-weight: normal;

  .is-admin{
    &::before{
      content: '⛔';
      display: inline-block;
      margin-right: .3em;
    }

    text-decoration: line-through;
    color: #bbb;
  }
}

.form-conversations-submit{
  margin-top: 2rem;
}
