<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t("menu.admin_accountability", scope: "decidim.admin", default: "Admin accountability") %></h2>
  </div>
  <div class="card-section">
    <p>List of admin actions</p>
  </div>
</div>
