input.awesome-auto-edit {
  display: inline-block;
  width: auto;
  margin: 0 2px;
  padding: 1px;
  line-height: 0;
  height: auto;
}

span.awesome-auto-edit {
  padding: 0 4px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 0;
  font-weight: 600;
}
