.form-defaults input[type="text"].awesome-auto-edit {
  display: inline-block;
  width: auto !important;
  margin: 0 2px;
  padding: 2px 4px;
  line-height: 0;
  height: auto;
  outline-width: 1px;
}

span.awesome-auto-edit {
  padding: 0 4px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 0;
  font-weight: 600;
}
