input.awesome-auto-edit {
  display: inline-block;
  width: auto;
  margin: 0 2px;
  padding: 1px;
  line-height: 0;
  height: auto;
}

span.awesome-auto-edit {
  padding: 0 4px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 0;
  font-weight: 600;
}

a.awesome-auto-delete {
  float: right;
}

.form-defaults input[type="text"].awesome-auto-edit {
  display: inline-block;
  margin: 0;
  padding: 2px 4px;
  height: auto;
  width: auto;
  line-height: 1;
  outline: 1px solid transparent;
  font-size: 0.75rem;
}

span.awesome-auto-edit {
  background-color: $body-background;
  padding: 0 0.5rem;
  border-radius: $global-radius;
  margin: 0;
  font-weight: $global-weight-bold;
}
