.custom-redirections-table {
  th,
  td {
    text-align: left !important;
  }

  td.redirect-status {
    font-family: monospace;

    &.success {
      &::before {
        content: "OK! ";
      }
    }

    &.alert {
      &::before {
        content: "ERR ";
      }
    }

    &.muted {
      &::before {
        content: "N/A ";
      }
    }
  }
}

code {
  border: 1px solid #adadad;
  background-color: #eee;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  font-size: 13px;
  color: #1a181d;
  display: inline;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0.125rem 0.3125rem 0.0625rem;
}