/* Ensure the sticky save button is over codemirror */
.item__edit-sticky {
  z-index: 2;
}

.awesome-edit-config {
  .scoped_styles_container,
  .proposal_custom_fields_container {
    @apply bg-background-3;
    border-radius: 16px;
    > fieldset{
      margin-top: 1rem;
    }
    
    fieldset legend {
      font-weight: 600;
      color: rgb(62 76 92 / var(--tw-text-opacity));
      font-size: 14px;
      line-height: 18px;
    }

    .form-error {
      margin: 0;
    }

    > .CodeMirror {
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 5px solid #eee;
      border-left: none;
      min-height: 4em;
      height: auto;
      resize: vertical;
      overflow: vertical !important;
      padding: 0;
      margin: 0;
      width: 100%;
      font-size: 0.9rem;

      > .CodeMirror-scroll {
        > .CodeMirror-gutters {
          background: #eee;
        }
      }
    }
  }
}
