/* Ensure the sticky save button is over codemirror */
.item__edit-sticky {
  z-index: 2;
}

.awesome-edit-config {
  .scoped_styles_container,
  .proposal_custom_fields_container,
  .authorization_group_container {
    @apply bg-background;

    .editor-container {
      @apply bg-white;
    }

    &.private {
      @apply outline-2 outline-[#fca5a5] outline-dotted;
    }

    .form-error {
      margin: 0;
    }

    > .CodeMirror {
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 5px solid #eee;
      border-left: none;
      min-height: 4em;
      height: auto;
      resize: vertical;
      overflow: vertical !important;
      padding: 0;
      margin: 0;
      width: 100%;
      font-size: 0.9rem;

      > .CodeMirror-scroll {
        > .CodeMirror-gutters {
          background: #eee;
        }
      }
    }
  }
}
