.constraints-editor {
  background: #f6f6f6;
  padding: 1rem;
  border-radius: 5px;

  .constraints-list {
    padding: 0;
    margin: 0 0 1em 0;

    li {
      margin: 0 1em 0 0;
      padding: 0;
    }

    .label {
      &.participatory_space_manifest {
        background-color: #f7b230;
      }

      &.participatory_space_slug {
        background-color: #19b380;
      }

      &.component_manifest {
        background-color: #b31919;
      }

      &.component_id {
        background-color: #ee449c;
      }

      &.constraint {
        &-none {
          background-color: #ff3000;
        }
      }
    }

    a {
      margin-left: 1rem;
    }

    &.inactive {
      .label:not(.constraint-none) {
        filter: saturate(10%);
      }
    }
  }

  .flash[hidden] {
    display: none;
  }
}
