.colors-help {
  p {
    @apply block text-sm text-gray-2 font-normal prose-a:text-secondary prose-a:underline;

    margin-bottom: 1em;
  }

  .colors {
    white-space: unset;
    font-size: 0.7rem;
  }
}
