// hide custom-fields inside tabs, an extra (unique) container is used instead
.color-box {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }

  $colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "alert": $alert,
    "highlight": $highlight,
    "highlight_alternative": $highlight_alternative
  );

  @each $name, $color in $colors {
    &.#{$name} {
      background-color: $color;
    }
  }
}

.proposal_custom_fields {
  &_editor {
    background-color: #e0e0e0;
    padding: .5em .5em 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    ul.frmb,
    .form-wrap.form-builder .frmb li.form-field,
    .form-wrap.form-builder .stage-wrap.empty {
      background-color: $body-background;
      margin-right: .5rem;
    }

    label {
      display: inline-block;
      max-width: 100%;
      font-weight: $global-weight-bold !important;
    }

    li[type] {
      display: inherit;
      width: 100%;
      height: inherit;
      margin: inherit;
      border: inherit;
      box-shadow: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
    }

    .form-group {
      background-color: inherit;
      margin: 0;
      padding: 0;
    }

    .form-wrap.form-builder .form-group {
      margin-bottom: 10px !important;
    }

    .form-control {
      color: #555;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      margin: 0;
      padding: 6px 12px;
    }
  }
}

// Custom fields tuning
.rendered-form .form-control.ql-container {
  height: auto !important;
}

.add-field .icon {
  width: 11px;
  height: 11px;
  margin-right: .3rem;
}
