@import "stylesheets/decidim/editor";

// hide custom-fields inside tabs, an extra (unique) container is used instead
.tabs-content {
  .proposal_custom_field {
    display: none;
  }
}

.proposal_custom_fields {
  &_editor {
    ul.frmb,
    .form-wrap.form-builder .frmb li.form-field,
    .form-wrap.form-builder .stage-wrap.empty {
      @apply bg-background mr-2;
    }

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    svg {
      @apply fill-black;
    }

    li > label {
      line-height: 27px !important;
      font-size: 16px !important;
    }

    input.form-control {
      background-color: #fff;
      border: 1px solid #ccc !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

      &:focus {
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6) !important;
      }
    }

    .frmb-control li {
      cursor: cell !important;
    }
    // drag and drop is disabled, let's not show the move cursor
    .frmb .prev-holder {
      cursor: default !important;
    }
  }
}
