// hide custom-fields inside tabs, an extra (unique) container is used instead
.tabs-content {
  .proposal_custom_field {
    display: none;
  }
}

.proposal_custom_fields {
  &_editor {
    background-color: #e0e0e0;
    padding: 0.5em 0.5em 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    li > label {
      line-height: 27px !important;
      font-size: 16px !important;

      //     display: inline-block;
      //     max-width: 100%;
      //     font-weight: 600 !important;
    }

    .frmb-control li {
      cursor: cell !important;
    }

    //   li[type] {
    //     display: inherit;
    //     width: 100%;
    //     height: inherit;
    //     margin: inherit;
    //     border: inherit;
    //     box-shadow: inherit;
    //     font-size: inherit;
    //     font-weight: inherit;
    //     line-height: inherit;
    //     color: inherit;
    //   }

    //   .form-group {
    //     background-color: inherit;
    //     margin: 0;
    //     padding: 0;
    //   }

    //   .form-wrap.form-builder .form-group {
    //     margin-bottom: 10px !important;
    //   }

    //   .form-control {
    //     color: #555;
    //     background-color: #fff;
    //     border: 1px solid #ccc;
    //     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    //     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    //     margin: 0;
    //     padding: 6px 12px;
    //   }
  }

  &_container {
    .constraints-editor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

// Custom fields tunning
// .rendered-form .form-control.ql-container {
//   height: auto !important;
// }
