@import "select2/dist/css/select2.css";
@import "stylesheets/vendor/select2-foundation-theme";

.multiusers-select-container {
  form label {
    margin-bottom: 1rem;
  }

  .switch-paddle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
}

.select2-container--foundation .select2-selection--multiple {
  .select2-selection__choice {
    display: inline-block;
    float: none;
    font-weight: normal;

    .is-admin {
      &::before {
        content: "⛔";
        display: inline-block;
        margin-right: 0.3em;
      }

      text-decoration: line-through;
      color: #bbb;
    }
  }

  textarea.select2-search__field {
    resize: none;
  }
}

.form-conversations-submit {
  margin-top: 2rem;
}
