<div class="form__wrapper gap-0">
  <%= form.number_field :threshold, class: "mb-6", help_text: t(".threshold_config_help") %>
  <%= form.text_field :block_justification_message, class: "mb-6", help_text: t(".block_justification_message_help") %>
</div>
