<div class="form__wrapper gap-0">
  <%= form.number_field :threshold, class: "mb-6", help_text: t(".threshold_config_help") %>
  <% if @threshold_detected_cases.present? %>
    <span class="help-text"><%= t(".threshold_config_detected_cases", count: @threshold_detected_cases) %></span>
  <% end %>
</div>
<div class="form__wrapper gap-0">
  <%= form.check_box :perform_block, class: "mb-6", help_text: t(".perform_block_message_help") %>
</div>
