<% awesome_link = link_to("Decidim Awesome", decidim_admin_decidim_awesome.config_path(:verifications), target: "_blank") %>

<!--TODO: needs refactoring-->
<% has_constraint = Decidim::DecidimAwesome::AwesomeConfig
  .where("var LIKE ?", "authorization_group_%")
  .where(organization: current_organization)
  .joins(:constraints)
  .where("decidim_awesome_config_constraints.settings ->> 'participatory_space_manifest' = ? AND decidim_awesome_config_constraints.settings ->> 'participatory_space_slug' = ?", "participatory_processes", participatory_process.slug)
  .exists? %>

<div class="callout <%= has_constraint ? "alert" : "info" %> mt-2">
  <%= t("decidim.decidim_awesome.admin.visibility.#{has_constraint ? "restricted_html" : "info_html"}", awesome_link: awesome_link).html_safe %>
</div>
