<!--the modal window will be used in another pr-->
<%= decidim_modal id: "LimitAmendmentsModal", class:"reveal show limit_amendments_modal limit-amendments-modal" do %>
  <div data-dialog-container>
    <div class="reveal__content">
      <div class="instructions mb-4"><%= t("decidim.decidim_awesome.amendments.modal.explanation_html",
                                           proposal_link: present(@proposal).proposal_path + "#comments") %></div>
    </div>
  </div>
  <div data-dialog-actions>
    <button type="button" class="button button__lg button__transparent-secondary cancel-action hollow secondary" data-dialog-close="LimitAmendmentsModal"><%= t("decidim.decidim_awesome.amendments.modal.dismiss") %></button>
  </div>
<% end %>
