---

base_locale: en
locales: [en]

data:
  external:
    - "<%= %x[bundle info decidim-core --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-admin --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-proposals --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-meetings --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-blogs --path].chomp %>/config/locales/%{locale}.yml"

ignore_unused:
  - "decidim.components.decidim_awesome.name"

ignore_missing:
  - decidim.participatory_processes.scopes.global
  # TODO: remove when diching support for 0.26
  - decidim.proposals.collaborative_drafts.new.add_file
  - decidim.proposals.collaborative_drafts.new.edit_file
