---

base_locale: en
locales: [en]

data:
  external:
    - "<%= %x[bundle info decidim-core --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-admin --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-proposals --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-meetings --path].chomp %>/config/locales/%{locale}.yml"
    - "<%= %x[bundle info decidim-blogs --path].chomp %>/config/locales/%{locale}.yml"

ignore_unused:
  - "decidim.admin.actions.manage"
  - "decidim.admin.filters.admin_accountability.*"
  - "decidim.admin.filters.search_placeholder.*"
  - "activemodel.attributes.constraint.*"
  - "activemodel.attributes.custom_redirect.*"
  - "activemodel.attributes.user.*"
  - "decidim.components.decidim_awesome.name"
  - "decidim.components.awesome_iframe.settings.*"
  - "decidim.components.awesome_map.settings.*"
  - "decidim.components.proposals.settings.global.*"
  - "decidim.components.proposals.settings.step.*"
  - "decidim.decidim_awesome.admin.config.*"
  - "decidim.decidim_awesome.admin.admin_accountability.*"
  - "decidim.decidim_awesome.admin.scoped_admin_styles.*"
  - "decidim.decidim_awesome.admin.scoped_styles.*"
  - "decidim.decidim_awesome.admin.menu.*"
  - "decidim.decidim_awesome.admin.menu_hacks.*"
  - "decidim.decidim_awesome.admin.proposal_custom_fields.*"
  - "decidim.decidim_awesome.custom_fields.*"
  - "decidim.decidim_awesome.map_component.map.show.*"
  - "decidim.decidim_awesome.voting.voting_cards.*"
  - "decidim.decidim_awesome.content_blocks.*"
  - "decidim.decidim_awesome.admin_log.*"
  - "decidim.decidim_awesome.required_authorizations.index.verify_with_all_these_options"
  - "decidim.decidim_awesome.required_authorizations.index.verify_with_any_of_these_options"
  - "layouts.decidim.decidim_awesome.admin.maintenance.titles.*"
  - "decidim.proposals.*"
  - "decidim.meetings.*"

ignore_missing:
  - decidim.participatory_processes.scopes.global
