//= require github.min
//= require inscrybmde.min
//= require_self

@import "./editors/quill_editor";
@import "./editors/markdown_editor";
@import "./editors/markdown_view";
@import "./forms/autosave";

// Custom fields tunning
.rendered-form .form-control.ql-container{
  height: auto !important;
}

.decidim_awesome-custom_fields{
  dd{
    >div:last-child{
      margin-bottom: 1rem;
    }

    &[name="textarea"]{
      >div > p{
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
