<%= announcement = render(partial: "decidim/shared/component_announcement") %>

<%= stylesheet_link_tag "decidim/decidim_awesome/awesome_overview/overview" %>

<div id="overview" class="row">
  <div class="small-up-1 medium-up-1 mediumlarge-up-2 large-up-3 card-grid">
    <% components.each do |component| %>
      <%= cell "decidim/decidim_awesome/overview_component/#{component.manifest_name}", component %>
    <% end %>
  </div>
</div>

<style rel="stylesheet" type="text/css">
</style>
