<%= stylesheet_link_tag "decidim/decidim_awesome/awesome_iframe/iframe" %>

<style rel="stylesheet" type="text/css">
<%= ".wrapper { padding: 0; }" if remove_margins? %>
</style>

<div class="awesome_iframe<%= " row" if viewport_width? %>">
  <%= iframe %>
</div>
