<div class="row column">
  <%= form.translated :text_field, :name %>
</div>
<div class="row column">
  <%= form.text_field :url,
                      help_text: t("decidim.decidim_awesome.admin.landing_menu_items.form.url_help_html") %>
</div>
