<%= decidim_modal id: "awesome-verification-modal", class:"reveal awesome_participants-modal" do %>
  <div data-dialog-container>
    <%= icon "lock-line" %>
    <h3 tabindex="-1" data-dialog-title>
      <%= t(".authorizations_for", user: "{{user}}")%>
    </h3>
    <div data-dialog-content class="mt-4">
    </div>
  </div>
  <div data-dialog-actions>
    <button data-dialog-close="example">
       Close modal
    </button>
  </div>
<% end %>
