<%= decidim_modal id: "awesome-verification-modal", class:"reveal awesome_participants-modal" do %>
  <div data-dialog-container>
  </div>
  <div data-dialog-actions>
    <button data-dialog-close="awesome-verification-modal" class="button button__lg button__transparent-secondary">
       <%= t(".close") %>
    </button>
  </div>
<% end %>
