<div class="reveal decidim_awesome modal loading awesome_participants-modal" id="awesome-verification-modal" data-reveal>
  <div class="modal-content"></div>

  <div class="spinner"></div>

  <button class="close-button" data-close aria-label="<%= t(".close") %>" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
