.awesome-markdown-editor{
  code{
    line-height: 1;
    background: #f0f0f0;
  }

  pre{
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: .9em;
    border: 1px solid #e8e8e8;
    background: #f0f0f0;

    p,
    code{
      line-height: .8;
    }

    code{
      display: block;
      padding: 1em 0 1em 1em;
      margin: 0;
      border: none;
    }

    margin: 1em 0;
  }
}
