<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("decidim.decidim_awesome.admin.menu.cookie_management") %>
  </h2>
</div>

<div class="card">
  <div class="card-section p-4">
    <p class="help-text -mt-2 mb-4">
      <%= t("decidim.decidim_awesome.admin.cookie_management.index.description", default: "") %>
    </p>
  </div>
</div>
