<main class="participatory-space__container">
  <%= render partial: "decidim/shared/component_announcement" %>

  <%= render partial: "api_ready" %>

  <section id="map-block" class="awesome-iframe layout-main__section">
    <%= awesome_map_for map_components do %>
      <%= render partial: "map_template", locals: { categories: current_participatory_space.categories, map_height: current_component.settings.map_height } %>
    <% end %>
  </section>
</main>
