<%= icon "lock-line" %>
<h3 tabindex="-1" data-dialog-title>
  <%= t("decidim.decidim_awesome.admin.officializations.verification_modal.authorizations_for", user: user.name) %>
</h3>
<div data-dialog-content>
  <%= yield %>
</div>

