<% add_secondary_root_menu(:awesome_admin_menu) %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>

  <div class="pokecode-credits"><%= t("credits", scope: "decidim.decidim_awesome", version: link_to(awesome_version, "https://github.com/decidim-ice/decidim-module-decidim_awesome/"), company: link_to("PokeCode", "https://pokecode.net")).html_safe %></div>
<% end %>
