name: "[CI] Tests 0.26"

on:
  push:
    branches:
      - main
  pull_request:

env:
  NODE_VERSION: 16.9.1
  RUBY_VERSION: 2.7.6
  BUNDLE_GEMFILE: Gemfile.legacy

jobs:
  integration-legacy:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - rspec: awesome_summary_spec.rb
            features: disabled
          - rspec: " --exclude-pattern 'spec/system/**/*_spec.rb'"
            features: enabled
          - rspec: system/admin
            features: enabled
          - rspec: system/*_spec.rb
            features: enabled
      fail-fast: false

    services:
      postgres:
        image: postgres:11
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Setup Test App
        run: bundle exec rake test_app

      - name: General RSpec with config vars enabled
        run: FEATURES={{ matrix.features }} bundle exec rspec spec/{{ matrix.rspec }}
        env:
          SIMPLECOV: 1
          CODECOV: 1

      - uses: actions/upload-artifact@v2-preview
        if: always()
        with:
          name: screenshots
          path: ./spec/decidim_dummy_app/tmp/screenshots
